body {
	background-color: #fff;
	padding: 0px;
	margin: 0px;
	font-family: Kristen ITC;
	overflow-x: hidden; 
}

h1 {
	font-family: sans-serif;
}

/**The Header**/

header {
	background-color: #fff;
	display: inline-flex;
	min-width: 100%;
	border-top: 3px solid #ff9800;
	padding: 0px 0px 30px 20px;
	height: 30px;
	box-shadow: 0px -8px 11px 4px;
}

header h1 {
	height: fit-content;
	margin-top: 10px;
}

p, code, span {
	line-height: 2;
}

header nav {
	margin-left: 15%;
	font-size: 14px;
	height: fit-content;
	margin-top: 2px;
}

header nav ul {
	display: inline-flex;
	list-style: none;
	
}

header nav ul li {
	margin: 0px 10px 0px 10px;
	width: 100px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	transition: ease-in .1s;
	position: relative;
}

header nav ul li a {
	text-decoration: none;
	color: #111;
}

header nav ul li::after {
	content: '';
	width: 0px;
	background-color: #ff9800;
	height: 4px;
	position: absolute;
	left: 50%;
	bottom: 0;
	transition: .3s;
}

header nav ul li.active::after {
	width: 100%;
	left: 0;
}

header nav ul li:hover::after {
	width: 100%;
	left: 0;
}

/**The main content wrapper**/

.main {
	width: 100%;
	display: inline-flex;
	padding: 30px;

}

/**The left part of the main content**/

.left {
	width: 70%;
	font-family: cursive;
}

/**The Right part of the main content, the scrollspy**/

.right {
	background-color: #ff6600bf;
	width: 20%;
	text-align: center;
	float: right;
	height: 60%;
	color: #fff;
	border-radius: 10px;
	margin-left: 15px;
}

.division {
	width: 80%;
	height: .1px;
	border: .5px solid #fff;
}

.scrollspy {
	list-style-type: none;
	text-align: left;
}

.scrollspy li {
	padding: 10px;
	position: relative;
}

.scrollspy li a {
	text-decoration: none;
	color: #fff
}

/**The remaining part of the left side, main content**/
h1.line-under {
	position: relative;
	width: fit-content;
}

h1.line-under::after {
	content: '';
	width: 60%;
	height: 3px;
	background-color: #111;
	position: absolute;
	left: 30%;
	bottom: 0;
}
span.within {
	font-family: monospace;
	color: #ff9800;
	font-weight: bolder;
	font-size: 20px;
	background-color: #1d1b1b26;
	border-radius: 3px;
	padding: 2px;

}

span.code {
	background-color: #1d1b1b26;
	width: 90%;
	height: 50px;
	overflow-x: scroll;
	font-family: monospace;
}

.demo {
	padding-left: 20px;
	vertical-align: center;
}

.bty {
	margin-bottom: 20px;
}

table.pseudo {
	text-align: center;
}

tr.top {
	background-color: #f5fffa;
	font-weight: bolder;
	text-transform: uppercase;
}

.class-in-table, .code-in-table, .result-in-table {
	border-bottom: 1px solid #111;
	border-top: 1px solid #111;
}

tr.striped {
	background-color: #f5fffa;
}


.class-in-table {
	width: fit-content;
}

footer {
	width: 100%;
	text-align: center;
	background-color: #f5fffa;
	border-bottom: 2px solid #ff6600bf;
}




/** contribute page styles start here**/
.main-2 {
	width: 100%;
	padding: 30px;

}

.big {
	font-weight: bold;
	font-size: 30px;
}

.forms {
	width: 90%;
	display: -webkit-inline-box;
}

.message {
	width: 90%;
}

.leave-message {
	display: table-caption;
	background-color: #f5fffa;
	border-radius: 20px;
	padding: 20px;
}

.task {
	width: 50%;
	display: block;
	background-color: #f5fffa;
	padding: 10px 10px 10px 20px;
	border-radius: 20px;
	margin-left: 30px;
	font-size: 15px;
}

input[type="text"], input[type="url"] {
	width: 300px;
	height: 35px;
	border-radius: 3px;
	border: 1px solid #111;
	font-size: 20px;
	padding: 0px 0px 0px 10px;
	outline-color: #ff6600bf;
	float: right;
}



select {
	background-color: transparent;
	width: 100px;
	height: 35px;
	border-radius: 3px;
	border: 1px solid #111;
	font-size: 16px;
	padding-left: 15px;
	float: right;
}
